@import "tailwindcss";

@theme {
  --color-background: #030303;
  --color-foreground: white;

  --color-text: white;
  --color-text-invert: black;

  --color-border: white;

  --color-icon: #1e2939;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk"; 
  background: var(--color-background);
  color: var(--color-text);
}

@layer utilities {
    @keyframes slow-drift {

    0%,
    100% {
      transform: translate(0, 0);
    }

    25% {
      transform: translate(20px, -30px);
    }

    50% {
      transform: translate(-15px, -20px);
    }

    75% {
      transform: translate(30px, 10px);
    }
  }

    @keyframes downloadMove {

    0%,
    100% {
      transform: translateY(-1px);
    }

    50% {
      transform: translateY(0);
    }
  }

  @keyframes sendMove {

    0%,
    100% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(1px, -1px);
    }
  }

  @keyframes logoPulse {
    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.7;
    }
  }

   @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
      filter: blur(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }

  .download-anim {
    animation: downloadMove 1.4s ease-in-out infinite;
  }

  .send-anim {
    animation: sendMove 1.4s ease-in-out infinite;
  }

  .pulse-anim {
    animation: logoPulse 1.2s ease infinite;
  }

  .animate-fade-in {
    animation: fade-in 0.6s ease-out both;
  }

  .animation-delay-100 {
    animation-delay: 100ms;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .animation-delay-300 {
    animation-delay: 300ms;
  }

  .animation-delay-400 {
    animation-delay: 400ms;
  }

  .animation-delay-500 {
    animation-delay: 500ms;
  }

  .animation-delay-600 {
    animation-delay: 600ms;
  }

  .animation-delay-700 {
    animation-delay: 700ms;
  }

  .animation-delay-800 {
    animation-delay: 800ms;
  }
  .animation-delay-900 {
    animation-delay: 900ms;
  }
}