@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-text: black;
  --color-secondary-text: rgb(80, 80, 80);
  --color-background: #ffffff;
  --color-blur: rgb(120, 120, 120);
  --color-accent: oklch(62.3% 0.214 259.815);
}

.dark {
  --color-text: white;
  --color-secondary-text: rgb(222, 222, 222);
  --color-background: #0e1015;
  --color-blur: white;
  --color-accent: oklch(79.5% 0.184 86.047);
}

body {
  font-family: "Space Grotesk"; 
}